.DS_Store
.vscode/settings.json
images/dataset/*
compose-dev.yaml.vscode/branch-timer.json
.vscode/branch-timer.json
compose-dev.yaml
.vscode/ext.config.json
.vscode/github-dev.code-profile
.vscode/github.code-profile
docs/capstone-docs/1-project-proposal/IMG_3228.HEIC
etc/__pycache__
etc/basic_sample_dataset
etc/dataset
software-testing/jupyter-environments/image_preprocessing/data
software-testing/jupyter-environments/image_preprocessing/__pycache__
software-testing/jupyter-environments/model_training/data
