.DS_Store
.vscode/settings.json
images/dataset/*
compose-dev.yaml.vscode/branch-timer.json
.vscode/branch-timer.json
compose-dev.yaml
.vscode/ext.config.json
.vscode/github-dev.code-profile
.vscode/github.code-profile