.DS_Store
.vscode/settings.json
images/dataset/*
compose-dev.yaml.vscode/branch-timer.json
.vscode/branch-timer.json
compose-dev.yaml
.vscode/ext.config.json
.vscode/github-dev.code-profile
.vscode/github.code-profile
docs/capstone-docs/1-project-proposal/IMG_3228.HEIC
etc/__pycache__
etc/basic_sample_dataset
etc/dataset
software-testing/jupyter-environments/image_preprocessing/data
software-testing/jupyter-environments/image_preprocessing/__pycache__
software-testing/jupyter-environments/model_training/data
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/blue_color/blue_color_icon_0322.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/blue_color/blue_color_icon_0323.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/blue_color/blue_color_icon_0324.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/green_color/green_color_icon_0336.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/green_color/green_color_icon_0337.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/green_color/green_color_icon_0338.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/green_color/green_color_icon_0346.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/green_color/green_color_icon_0347.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/red_color/red_color_icon_0017.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/red_color/red_color_icon_0018.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/red_color/red_color_icon_0020.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/red_color/red_color_icon_0021.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/yellow_color/yellow_color_icon_0312.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/yellow_color/yellow_color_icon_0319.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/yellow_color/yellow_color_icon_0320.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/yellow_color/yellow_color_icon_0334.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/yellow_color/yellow_color_icon_0335.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/blue_color_icon_0322 Background Removed.png
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/blue_color_icon_0323 Background Removed.png
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/blue_color_icon_0324 Background Removed.png
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/green_color_icon_0336 Background Removed.png
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/green_color_icon_0337 Background Removed.png
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/green_color_icon_0338 Background Removed.png
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/green_color_icon_0346 Background Removed.png
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/green_color_icon_0347 Background Removed.png
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/red_color_icon_0017 Background Removed.png
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/red_color_icon_0018 Background Removed.png
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/red_color_icon_0020 Background Removed.png
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/red_color_icon_0021 Background Removed.png
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/unedited_images(original).zip
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/yellow_color_icon_0312 Background Removed.png
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/yellow_color_icon_0319 Background Removed.png
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/yellow_color_icon_0320 Background Removed.png
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/yellow_color_icon_0334 Background Removed.png
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/yellow_color_icon_0335 Background Removed.png
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/supplementary-images/BACKGOUND_no_color.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/blue_color_icon_0322.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/blue_color_icon_0323.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/blue_color_icon_0324.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/BOX_0324.jpeg
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/green_color_icon_0336.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/green_color_icon_0338.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/green_color_icon_0346.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/green_color_icon_0347.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/red_color_icon_0017.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/red_color_icon_0018.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/red_color_icon_0020.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/red_color_icon_0021.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/yellow_color_icon_0312.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/yellow_color_icon_0319.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/yellow_color_icon_0334.JPG
4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/yellow_color_icon_0335.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/blue_color/blue_color_icon_0322.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/blue_color/blue_color_icon_0323.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/blue_color/blue_color_icon_0324.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/green_color/green_color_icon_0336.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/green_color/green_color_icon_0337.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/green_color/green_color_icon_0338.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/green_color/green_color_icon_0346.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/green_color/green_color_icon_0347.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/red_color/red_color_icon_0017.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/red_color/red_color_icon_0018.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/red_color/red_color_icon_0020.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/red_color/red_color_icon_0021.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/yellow_color/yellow_color_icon_0312.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/yellow_color/yellow_color_icon_0319.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/yellow_color/yellow_color_icon_0320.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/yellow_color/yellow_color_icon_0334.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/with_background/yellow_color/yellow_color_icon_0335.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/blue_color_icon_0322 Background Removed.png
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/blue_color_icon_0323 Background Removed.png
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/blue_color_icon_0324 Background Removed.png
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/green_color_icon_0336 Background Removed.png
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/green_color_icon_0337 Background Removed.png
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/green_color_icon_0338 Background Removed.png
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/green_color_icon_0346 Background Removed.png
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/green_color_icon_0347 Background Removed.png
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/red_color_icon_0017 Background Removed.png
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/red_color_icon_0018 Background Removed.png
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/red_color_icon_0020 Background Removed.png
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/red_color_icon_0021 Background Removed.png
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/unedited_images(original).zip
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/yellow_color_icon_0312 Background Removed.png
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/yellow_color_icon_0319 Background Removed.png
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/yellow_color_icon_0320 Background Removed.png
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/yellow_color_icon_0334 Background Removed.png
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/base_images (4 total colors)/color(with_organization)/without_background/yellow_color_icon_0335 Background Removed.png
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/organized/supplementary-images/BACKGOUND_no_color.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/blue_color_icon_0322.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/blue_color_icon_0323.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/blue_color_icon_0324.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/BOX_0324.jpeg
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/green_color_icon_0336.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/green_color_icon_0338.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/green_color_icon_0346.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/green_color_icon_0347.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/red_color_icon_0017.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/red_color_icon_0018.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/red_color_icon_0020.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/red_color_icon_0021.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/yellow_color_icon_0312.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/yellow_color_icon_0319.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/yellow_color_icon_0334.JPG
Setup/4_model_code/software-testing/jupyter-environments/model_training/data/training_first_iteration/raw_data (for_model_use)/yellow_color_icon_0335.JPG
Setup/4_model_code/software-testing/jupyter-environments/image_preprocessing/__pycache__/image_preprocessing.cpython-313.pyc
Setup/4_model_code/software-testing/jupyter-environments/image_preprocessing/data/image.jpg
Setup/4_model_code/software-testing/jupyter-environments/image_preprocessing/data/supplementary-images/BACKGOUND_no_color.JPG
4_model_code/software-testing/jupyter-environments/image_preprocessing/data/image.jpg
4_model_code/software-testing/jupyter-environments/image_preprocessing/data/supplementary-images/BACKGOUND_no_color.JPG
4_model_code/software-testing/jupyter-environments/image_preprocessing/__pycache__/image_preprocessing.cpython-313.pyc
4_model_code/software-testing/jupyter-environments/image_preprocessing/data/image.jpg
4_model_code/software-testing/jupyter-environments/image_preprocessing/data/supplementary-images/BACKGOUND_no_color.JPG
4_model_code/software-testing/jupyter-environments/image_preprocessing/data/image.jpg
4_model_code/software-testing/jupyter-environments/image_preprocessing/data/supplementary-images/BACKGOUND_no_color.JPG
Setup/4_model_code/software-testing/data/training_first_iteration/raw_images/resized-original/blue_color_icon_0322.JPG
Setup/4_model_code/software-testing/data/training_first_iteration/raw_images/resized-original/blue_color_icon_0323.JPG
Setup/4_model_code/software-testing/data/training_first_iteration/raw_images/resized-original/blue_color_icon_0324.JPG
Setup/4_model_code/software-testing/data/training_first_iteration/raw_images/resized-original/BOX_0324.jpeg
Setup/4_model_code/software-testing/data/training_first_iteration/raw_images/resized-original/green_color_icon_0336.JPG
Setup/4_model_code/software-testing/data/training_first_iteration/raw_images/resized-original/green_color_icon_0338.JPG
Setup/4_model_code/software-testing/data/training_first_iteration/raw_images/resized-original/green_color_icon_0346.JPG
Setup/4_model_code/software-testing/data/training_first_iteration/raw_images/resized-original/green_color_icon_0347.JPG
Setup/4_model_code/software-testing/data/training_first_iteration/raw_images/resized-original/red_color_icon_0017.JPG
Setup/4_model_code/software-testing/data/training_first_iteration/raw_images/resized-original/red_color_icon_0018.JPG
Setup/4_model_code/software-testing/data/training_first_iteration/raw_images/resized-original/red_color_icon_0020.JPG
Setup/4_model_code/software-testing/data/training_first_iteration/raw_images/resized-original/red_color_icon_0021.JPG
Setup/4_model_code/software-testing/data/training_first_iteration/raw_images/resized-original/yellow_color_icon_0312.JPG
Setup/4_model_code/software-testing/data/training_first_iteration/raw_images/resized-original/yellow_color_icon_0319.JPG
Setup/4_model_code/software-testing/data/training_first_iteration/raw_images/resized-original/yellow_color_icon_0334.JPG
Setup/4_model_code/software-testing/data/training_first_iteration/raw_images/resized-original/yellow_color_icon_0335.JPG
Setup/4_model_code/software-testing/data/training_first_iteration/organized
